body {
  margin: 0;
}

#main-top {
  padding: 40px;
  color: #463224;
  background-color: #cfc5b9;
}
#main-top-left {
  background-color: #cfc5b9;
}
#intro {
  background-color: #cfc5b9;
}

#contact-2 {
  background-color: #cfc5b9;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

#brazil-type {
  font-size: 60px;
  font-family: 'Lobster', cursive;
  background-color: #cfc5b9;
  position: relative; left: 20px; top: 250px;
}
#brazil-description {
  background-color: #89664E;
  font-size: 20px;
  position: relative; left: 0px; top: 200px;
  width: 620px;
  padding: 20px;
}

.brazil-coffee {
  width: 300px;
  position: relative; left: 700px; top: -1150px;
}

#colombia-type {
  font-size: 60px;
  font-family: 'Lobster', cursive;
  background-color: #cfc5b9;
  position: relative; left: 750px; top: 320px;
}

#colombia-description {
  background-color: #89664E;
  font-size: 20px;
  position: relative; left: 340px; top: 270px;
  width: 620px;
  padding: 20px;
}
.colombia-coffee {
  width: 300px;
  position: relative; left: -280px; top: -600px;
}
#nicaragua-type {
  font-size: 50px;
  font-family: 'Lobster', cursive;
  background-color: #cfc5b9;
  position: relative; left: 20px; top: 360px;
}
#nicaragua-description {
  background-color: #89664E;
  font-size: 20px;
  position: relative; left: -15px; top: 320px;
  width: 620px;
  padding: 30px;
}
.nicaragua-coffee {
  width: 300px;
  position: relative; left: 110px; top: -100px;
}

.coffee-shelf {
  width: 380px;
  margin-right: 80px;
  position: relative; left: 30px; top: -1780px;
}

.nitrogen-fixed {
  width: 215px;
  position: relative; left: -20px; top: -1780px;
}

.art-one {
  width: 250px;
  position: relative; left: 270px; top: -10px;
}
.art-two {
  width: 300px;
  position: relative; left: 490px; top: -120px;
}
.art-three {
  width: 220px;
  position: relative; left: -20px; top: 330px;
}
.art-four {
  width: 200px;
  position: relative; left: -250px; top: 10px;
}
.art-five {
  width: 250px;
  position: relative; left: ; top: ;
}
.art-six {
  width: 250px;
  position: relative; left: 10px; top: 0px;
}
.art-seven {
  width: 250px;
  position: relative; left: -500px; top: -350px;
}
.art-eight {
  width: 270px;
  position: relative; left: 770px; top: -450px;
}
.me-picture {
  width: 350px;
  position: relative; left: 600px; top: -1175px;
}
.drinking-coffee {
  width: 350px;
  position: relative; left: -335px; top: -790px;
}
.sipping-coffee {
  width: 350px;
  position: relative; left: 600px; top: -690px;
}
.cosy-time {
  width: 300px;
}

.details-at-work {
  width: 300px;
}

.decor-at-work {
  width: 300px;
  position: relative; left: 50px; top: -405px; 
}

.selfie-picture {
  width: 250px;
  position: relative; left: 120px; top: -15px;
}

.coffee-beans {
  width: 400px;
  position: relative; left: 200px; top: -15px;
}

.flower-cup {
  width: 250px;
}

.forest-portrait {
  width: 200px;
}

.personal-coffee {
  width: 190px;
}

.coffee-view {
  width: 190px;
}

.fresh-beans {
  width: 150px;
}
header {
  background-color: #89664E;

}
header h2 {
  color: #312315;
  margin: 0;
  padding: 40px;
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

h1 {
      font-family: 'Lobster', cursive;
      color: #312315;
      font-size: 50px;
      margin-left: 20px;
      position: relative; top: 20px; left: 10px;
}
h3 {
  padding: 40px;
  font-size: 20px;
  background-color: #a49079;
  position: relative; top: -20px; left: 30px;
  width: 500px;
  height: 150px;
}
h4 {
  padding: 40px;
  font-size: 20px;
  background-color: #a49079;
  position: relative; top: -300px; left: 450px;
  width: 500px;
  height: 250px;
}
h5 {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  padding: 0px;
  position: relative; top: 20px; left: 40px;

}

p {
  font-size: 20px;
  font-family: 'Gloock', serif;
  margin-left: 20px;
  background-color: #FFECD0;
}
ul {
  list-style-type: none;
  margin: 0 0 0 25px;
  padding: 0px;
  overflow: hidden;
}

li {
  float: left;
  font-family: 'Gloock', serif;
  font-size: 20px;
}

li a {
  display: block;
  color: #FFECD0;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}
.active {
  background-color: #4d3621;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #6e5a4b;
}
.column {
  background-color: #7f6856;
  float: left;
  width: 50%;
}

footer {
  background-color: #7f6856;
  color: #7f6856;
  padding: 40px;
}
h6 {
  float: right;
  background-color: #b2876b;
  border-radius: 12px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Gloock', serif;
  position: relative; left: 10px; top: -10px;
  width: 210px;
}
#action1 {
  float: right;
  background-color: #89664E;
  border-radius: 12px;
  border: none;
  color: #FFECD0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  font-family: 'Gloock', serif;
  position: relative; left: -35px; top: -10px;
  width: 250px;
}

#action2 {
  float: right;
  background-color: #89664E;
  border-radius: 12px;
  border: none;
  color: #FFECD0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Gloock', serif;
  position: relative; left: -35px; top: -10px;
  width: 250px;
}
#action3 {
  float: right;
  background-color: #89664E;
  border-radius: 12px;
  border: none;
  color: #FFECD0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Gloock', serif;
  position: relative; left: -35px; top: -10px;
  width: 250px;
}
.button1 {
  float: right;
  background-color: #5d4230;
  border-radius: 12px;
  border: none;
  color: #FFECD0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Gloock', serif;
  position: relative; left: 15px; top: -60px;
}
.button2 {
  float: right;
  background-color: #5d4230;
  border-radius: 12px;
  border: none;
  color: #FFECD0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Gloock', serif;
  position: relative; left: 5px; top: -60px;
}
.button3 {
  float: right;
  background-color: #5d4230;
  border-radius: 12px;
  border: none;
  color: #FFECD0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Gloock', serif;
  position: relative; left: -5px; top: -60px;
}
footer p {
  color: #37251b;
  background-color: #7f6856;
  margin: 0;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

#container {
  width: 1100px;
  margin: 0 auto;
}

.two-column {
  display: center;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: #cfc5b9;
}

.two-column div {
  column-width: 900px;
  margin-right: 0;
  margin-left: 10px;
  background-color: #cfc5b9;
}

.three-column {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  background-color: #37251b;
}

.three-column div {
  border-radius: 12px;
  margin-right: 10px;
  margin-left: 50px;
  width: 100px;
}
#art-intro {
  background-color: #cfc5b9;
}
#art-outro {
  background-color: #cfc5b9;
  position: relative; top: -250px;
  font-size: 25px;
}
#about-me-1 {
  background-color: #89664E;
  color: #FFECD0;
  font-size: 20px;
  position: relative; left: 0px; top: 10px;
  width: 500px;
  padding: 20px;
}
#about-me-2 {
  background-color: #89664E;
  color: #FFECD0;
  font-size: 20px;
  position: relative; left: 400px; top: 150px;
  width: 500px;
  padding: 20px;
}
#about-me-3 {
  background-color: #89664E;
  color: #FFECD0;
  font-size: 20px;
  position: relative; left: 0px; top: 200px;
  width: 500px;
  padding: 20px;
}
